body {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 22px;
}

.container {
    margin: 70px 200px 10px 200px;
    padding: 40px;
    border: 2px solid black;
}

.container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.container4 {
    display: grid;
    grid-template-columns: 1fr;
}

.container > div {
    height: 100px;
}

.green {
    background-color: green;
    text-align: center;
    padding: 15px;
}

.red {
    background-color: red;
    text-align: center;
    padding: 15px;
}

.blue {
    background-color: blue;
    text-align: center;
    padding: 15px;
}

.yellow {
    background-color: yellow;
    text-align: center;
    padding: 15px;
}

.black {
    background-color: black;
    text-align: center;
    padding: 15px;
}

.nested-column2 {
    display: grid;
    grid-template-rows: 1fr 1fr ;
}

.nested-column1 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

