body {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 22px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    margin: 70px 200px 10px 200px;
    padding: 40px;
    border: 2px solid black;
}

.container > div {
    height: 100px;
}

.green {
    background-color: green;
    text-align: center;
    padding: 15px;
}

.red {
    background-color: red;
    text-align: center;
    padding: 15px;
}

.blue {
    background-color: blue;
    text-align: center;
    padding: 15px;
}

.yellow {
    background-color: yellow;
    text-align: center;
    padding: 15px;
}

.black {
    background-color: black;
    text-align: center;
    padding: 15px;
}

.nested-column {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}
